exportPattern(HiddenF,additivityPvalues,MandelPvalue,TukeyPvalue,KKSAPvalue,MalikPvalue,MalikTab,Malikfunction)
importFrom("graphics","axis","legend","locator","matplot")
importFrom("stats","anova","fitted","kmeans","lm","pf",
   "printCoefmat","quantile","resid","rnorm","var")
importFrom("utils","combn")
S3method(print,HiddenF)
S3method(plot,HiddenF)
S3method(summary,HiddenF)
S3method(anova,HiddenF)
