exportPattern(hiddenf,additivityPvalues,MandelPvalue,TukeyPvalue,KKSAPvalue,MalikPvalue,MalikTab,Malikfunction)
S3method(print,hiddenf)
S3method(plot,hiddenf)
S3method(summary,hiddenf)
S3method(anova,hiddenf)
